window {
  background-color: rgba(30, 30, 46, 0.8);
  border: 2px solid #a24eff;
  border-radius: 12px;
  padding: 10px;
  margin: 0px;
  font-family: "DroidLogo", "Symbols Nerd Font", sans-serif;
  font-size: 16px;
  color: #f0f0f0;
  box-shadow: 0 0 20px rgba(162, 78, 255, 0.27);
}

#input {
  background-color: rgba(30, 30, 50, 0.9);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
}

#inner-box {
  background-color: transparent;
  border: none;
}

#entry {
  padding: 6px 12px;
  border-radius: 6px;
  margin: 2px 0;
  color: #dddddd;
  background-color: transparent;
}

#entry:selected {
  background-color: rgba(162, 78, 255, 0.13);
  color: #ffffff;
  border: 1px solid #a24eff;
  box-shadow: 0 0 8px #a24eff55;
}

#scroll {
  margin-top: 5px;
  background-color: transparent;
}

#img {
  margin-right: 8px;
  min-height: 24px;
  min-width: 24px;
}

#text {
  font-weight: normal;
  color: inherit;
}

#prompt {
  margin-bottom: 8px;
  font-size: 18px;
  color: #c792ea;
  font-weight: bold;
}